<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts Home</title>
</head>
<body>
    <nav>
  <h1 id='blogTitle'>My Blog</h1>
  <ul>
    <li><a href='#home'>Home</a></li>
    <li><a href='#about'>About</a></li>
    <li><a href='#home'>Contact</a></li>
  </ul>
</nav>
<div id='home'></div>
<div id='blogs'>
  <div>
    <h1 class='heading'>Featured Post's</h1>
  </div>
  <div class='post' id='post-1'>
    <div class=groupTxt>
      <h3 class='title'>Blog Post 1</h3>
      <p class='author'>by Xyz Abcd</p>
    </div>
  </div>
  <div class='post' id='post-2'>
    <div class=groupTxt>
      <h3 class='title'>Blog Post 2</h3>
      <p class='author'>by Xyz Abcd</p>
    </div>
  </div>
  <div class='post' id='post-3'>
    <div class=groupTxt>
      <h3 class='title'>Blog Post 3</h3>
      <p class='author'>by Xyz Abcd</p>
    </div>
  </div>
  <div class='post' id='post-4'>
    <div class=groupTxt>
      <h3 class='title'>Blog Post 4</h3>
      <p class='author'>by Xyz Abcd</p>
    </div>
  </div>
  <div class='post' id='post-5'>
    <div class=groupTxt>
      <h3 class='title'>Blog Post 5</h3>
      <p class='author'>by Xyz Abcd</p>
    </div>
  </div>
</div>
<div id='about'>
  <div id='about-text'>
    <h1>About</h1>
    <p>My name is <strong>Tiago Bermejo</strong> and I'm a self taught web developer. This webpage is a simple layout / design mock-up for a minimalistic blog page.  </p>
  </div>
</div>
<footer>
  <p>Code & Design by <a target='_blank' href='https://www.facebook.com/tiago.bermejo.1'>Tiago B</a></p>
</footer>
</body>
</html>