<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts Home</title>
</head>
<body>
    <nav>
  <h1 id='blogTitle'>My Blog</h1>
  <ul>
    <li><a href='#home'>Home</a></li>
    <li><a href='#about'>About</a></li>
    <li><a href='#home'>Contact</a></li>
  </ul>
</nav>
<div id='home'></div>
<div id='blogs'>
  <div>
    <h1 class='heading'>Featured Post's</h1>
  </div>
</div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

<div id='about'>
  <div id='about-text'>
    <h1>About</h1>
    <p>My name is <strong>Tiago Bermejo</strong> and I'm a self taught web developer. This webpage is a simple layout / design mock-up for a minimalistic blog page.  </p>
  </div>
</div>
<footer>
  <p>Code & Design by <a target='_blank' href='https://www.facebook.com/tiago.bermejo.1'>Tiago B</a></p>
</footer>
</body>
</html>